*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

P, input, button, h{
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    background: #dae3e2;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.container{
    width: 70vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
    background: #ccaf83;
}

.logo-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.icon{
    margin: 5px;
    flex-basis: 7%;
}

.name{
    font-size: 18px;
    margin-left: 5px;
    flex-basis: 93%;
}

.status p, .name p{
    font-weight: bold;
}

.status{
    width: auto;
    margin: 30px;
}

.icon img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-container{
    flex: 1;
    color:  #fef8ef;
    padding: 20px;
    overflow-y: scroll;
    background-color: #cc9d55;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message{
    color: black;
    width: fit-content;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    padding: 15px;
    background-color: antiquewhite;
}

.user_message{
    margin-left: auto;
    background-color: #fff;
    color: black;
}

.message.user_message{
    border-radius: 0;
    border-bottom-left-radius: 10px;
}

.footer form{
    display: flex;
}

form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}

form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
}

form button:hover{
    background-color: green;
    transition: 0.2s ease;
}






























