*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background: #dae3e2;
}

/* navigation bar*/
nav{
    align-items: center;
    justify-content: space-between;
    background:#55d3c2;
    padding: 2px 2%;
    position: sticky;
    top: 0;
    z-index: 0;
    margin-left: 200px;
    margin-right: 200px;
   
}
.user-profile{
    margin: 10px;
    display: flex;
}
.icon img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.user-profile name p{
    margin-left: 10px;
    font-weight: 800;
        
}



/*---chat-----*/
.chat-container{
    justify-content: center;
    padding: 15px 5%;
    background: #fef8ef;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-right: 200px;
    margin-left: 200px;
}



.chat-area{
   display: flex;
flex-direction: row;

}
.chats{
    
    
}
.message-reciever{
    flex-basis: 50%;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: antiquewhite;
}
.message-reciever h5{
    color: #3882a6;
}
.message-user{
    flex-basis: 50%;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: antiquewhite;
}
..message-user h5{
    color: #f3d82d;
}





.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}































