<header>
    <h1>{{user}}</h1>
</header>
<div class="main-container">
    
    <form action="/{{user}}" method="post">
        <input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>