<div class="main-container">
    <form action="/user2" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    
</script>